@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body{
    background-color: black;
}
#body{
    background-image:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url("14.jpg") ;
    background-size: cover;
     background-repeat: no-repeat;
     margin-top: 30px;
     margin-left: 110px;
     height: 400px;
     width: 85%;
     background-position: center;   
}
#h1{
  position: sticky;
    bottom:200px;
    right: 38%;
    font-size: 90px;
    color: white;
    font-family: Satisfy;

    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0));
   text-transform: uppercase;
   text-shadow: 0em 0em 3em black   ,
   0em 0em 2em black,
   1px 1px 5px black,
   0px 0px 15px black,
   1px 0px 0px white,
  -1px 0px 2px rgba(0, 0, 0, .5);
}
#h1:hover{
    text-shadow: 0em 0em 5em #a0aa94,
                 0em 0em 3em blue,
                 0em 0em 2em blue,
                 1px 1px 5px blue,
                 0px 0px 10px blue,
                 0px 0px 25px blue,
                 0px 0px 45px blue,
                 2px 1px 0px white,
                -1px 0px 2px rgba(0, 0, 0, .5);
}
.row{
    display: block;
    min-height: 1px;
    margin: 20px;
   
  }
  .row:after{
    content:"";
    display: table;
    clear: both;
  }
  .column{
    width:40%;
    float:left;
    padding: 0 5%;
    color:blue;
    font-family: Verdana;
    font-size: 15px;
    
    
  }
  #h2{
    color: #3EDBF0;
    font-size: 50px;
    margin-bottom: 10px;
    font-family: lobster;
    margin-top: 10px;
    margin-left: 40px;
    font-weight: bold;
    text-shadow: 0 11.36px 8.896px #b0dfd4, 0 -1px 1px #aeffb4;
  

  }
  p{
      color:white;
      font-weight: bold;
      margin-left: 40px;
  }
  .mySlides {display: none;}
img {vertical-align: middle;}
 
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 40px;
    margin-right: 20px;
    
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  .place-header{

 margin-top: 30px;
   font-family: Lobster;
    font-size: 30px;
  color: #c4385b; 
  text-shadow: 
  3px 3px 0px #d5d5d5, 
  7px 7px 0px rgba(0, 0, 0, 0.2);
}
  .column-img{
    float: left;
    width: 32.1%;
    padding: 2px;
  }
  .row1-img::after {
    content: "";
    clear: both;
    display: table;
  }
  .row2-img{
    margin-top: 350px;
    margin-bottom: 100px;
    
  }
  .row2-img::after {
    content: "";
    clear: both;
    display: table;
  }
  .card {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 360px;
    height: 300px;
    
    margin-top: 200px;
    margin-left: 250px;
}
.card .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
 
}
.card .image img {
    width: 100%;
    transition: .5s;
}
.card:hover .image img {
    opacity: .5;
    transform: translateX(30%);/*100%*/
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;/*100%*/
    height: 100%;
    background:#114e60;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
    transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
    padding: 20px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.card .details .center h1 {
    margin: 0;
    padding: 0;
    color: #ff3636;
    line-height: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card .details .center h1 span {
    font-size: 14px;
    color: #262626;
}
.card .details .center p {
    margin: 10px 0;
    padding: 0;
    color: #262626;
}
.card .details .center ul {
    margin: 10px auto 0;
    padding: 0;
    display: table;
}
.card .details .center ul li {
    list-style: none;
    margin: 0 5px;
    float: left;
}
.card .details .center ul li a {
    display: block;
    background: #262626;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transform: .5s;
}
.card .details .center ul li a:hover {
    background: #ff3636;
}
.things-header{

  margin-top:270px;
    font-family: Lobster;
     font-size: 60px;
   color: #c4385b; 
   text-shadow: 
   4px 4px 0px #d5d5d5, 
   7px 7px 0px rgba(0, 0, 0, 0.2);
 }
.slider {
  display: flex;
  height: 350px;
  max-height: auto;
  overflow-y: hidden;
  overflow-x: scroll !important;
  padding: 16px;
  transform: scroll(calc(var(--i,0)/var(--n)*-100%));
  scroll-behavior: smooth;
  
}
.slider::-webkit-scrollbar {
  height: 5px;
  width: 150px;
  display: none;
  margin-top: 300px;
}
.slider::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 300px;
}
.slider::-webkit-scrollbar-thumb {
  background: #888;
}
.slider::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.slider img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
.slide {

  position: relative;
}
.slide img {
  height: 100%;
  width: 250px;
  margin: 0 10px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: .25s ease-in-out;
}
.arrow-left{
  color: white;
  size: 50px;
}
.arrow-right{
  color: white;
}
.control-prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: black;
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: #444;
  cursor: pointer;
  margin-top: 1650px;
  background-image: url(arrow-left.png);
  background-position: center;
  background-size: cover;

}
.control-next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  background-color: black;
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px rgb(17, 3, 3);
  user-select: none;
  color: #444;
  cursor: pointer;
  margin-top: 1650px;
  background-image: url(arrow-right.png); 
  background-position: center;
  background-size: cover;
}
.slide img.zoomed{
   width: 500px;
   height: 600px;
   position: fixed;
   left: 25%;
   top: 0%;
   z-index: 1000;
   transform: scale(1) translatey(0) !important; 
 
}
.overlay{
   position: absolute;
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,.45);
   top: 0;
   display: none;
}
.overlay.active{
 display: block;
}
@media only screen and (max-width: 420px) {
  .slider {
    padding: 0;
 }
  .slide {
    padding: 16px 10px;
 }
  .slide img {
    margin: 0;
 }
  .control-prev-btn {
    top: 37%;
 }
  .control-next-btn {
    top: 37%;
 }
}
  